:root {
  --background-color: #3D405B;
  --cambridge-blue-color: #81B29A;
  --sunset-color: #F2CC8F;
  --burnt-sienna-color: #E07A5F;
  --eggshell-color: #F4F1DE;
}

body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: var(--background-color);
  color: var(--eggshell-color);
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: black;
  color: var(--cambridge-blue-color);
  padding: 20px; /* Increase padding for a larger box */
  border-radius: 8px; /* Adjust for rounded corners */
  font-size: 16px; /* Increase font size for better readability */
  line-height: 1.6; /* Adjust line height */
  overflow-x: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  max-width: 90%; /* Adjust as needed */
  margin: 5px; /* Center the box horizontally */
  display: block; /* Ensure it takes up space as a block element */
}

a {
  color: var(--eggshell-color); /* Default link color */
}

.class-link {
  color: var(--eggshell-color); /* Default link color */
  text-decoration: underline;

}

.class-link:visited {
  color: var(--eggshell-color); /* Color for visited links */
}

.class-link:hover {
  color: var(--cambridge-blue-color); /* Color when hovering over the link */
}

.class-link:active {
  color: var(--burnt-sienna-color);
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.toggle-button {
  margin-left: 5px;
  background-color: #81B29A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease; /* Apply transition to the default state */
}

.toggle-button:hover {
  background-color: var(--burnt-sienna-color);
  transform: scale(1.1); /* Example transform effect */
}

ol li + p, ul li + p {
  margin-top: 5px; /* Adjust this value as needed */
}

li{
  margin-top: 10px; 
  margin-bottom: 10px;
}

.highlight-box {
  color: var(--eggshell-color);
  padding: 2px; /* Padding inside the box */
  border-radius: 2px; /* Rounded corners */
  display: inline-block; /* Ensure the box wraps around the content */
  margin: 5px 0; /* Margin around the box */
  font-weight: bold; /* Make the text bold */
  border: gray 0.5px solid; /* Add a border around the box */
}